<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<title>Options</title>
	<script type="text/javascript">
	function subandref(){
		document.forms['options'].action='options';
		document.forms['options'].target='_self';
		//document.forms['options'].submit();

		document.forms['options'].action='prog';
		document.forms['options'].target='prog';
		document.forms['options'].submit();

		//setTimeout("window.parent.prog.location.reload();", 0);
		//return true;
	}
	</script>
	<link rel="stylesheet" href="./static/css/base.css" type="text/css">
</head>
<body>

<form action="prog" id="options" method="post" target="prog">

	Grid Length = <input name="gridlength" type="text" size="2" maxlength="2" value="{% if session.gridlength %}{{ session.gridlength }}{% else %}13{% endif %}" /><br/>

	Solution language:
	<select name="sollang">
	{% for key, value in langs %}
		<option value="{{ key }}"{% if session.sollang == key %} selected="yes"{% endif %}>{{ value }}</option>{{ key }}
	{% endfor %}
	</select><br/>

	Clue language:
	<select name="cluelang">
	{% for key, value in langs %}
		<option value="{{ key }}"{% if session.cluelang == key %} selected="yes"{% endif %}>{{ value }}</option>{{ key }}
	{% endfor %}
	</select><br/>

	Clue type:
	<select name="cluetype">
	{% for key, value in cluetypes %}
		<option value="{{ key }}"{% if session.cluetype == key %} selected="yes"{% endif %}>{{ value }}</option>{{ key }}
	{% endfor %}
	</select><br/>

	Alternative clue type:
	<select name="clue2type">
	{% for key, value in cluetypes2 %}
		<option value="{{ key }}"{% if session.clue2type == key %} selected="yes"{% endif %}>{{ value }}</option>{{ key }}
	{% endfor %}
	</select>

	Force?
	<input type="checkbox" name="forceclue2" value="1"{% if session.forceclue2 == '1' %} checked="checked"{% endif %}/><br/><br/>

	Custom Word List<br/>
	<textarea name="notebook">{% if session.notebook %}{{ session.notebook.decode("utf-8") }}{% endif %}</textarea><br/>

	<input type="button" value="Generate Puzzle" onClick="subandref()" />

</form><br>

Disclaimer: The contents of the database are drawn from an external source (WordNet) and may not be completely accurate, so use this at your own risk. The word frequencies in particular are not very reliable, so you may find weird words and definitions in your puzzle.<br/><br/>

It is normal for the puzzle to take more than a minute to load at times, so please be patient.<br/><br/>

Please note that the current database only has definitions and examples for English, Japanese and Albanian. If you select definitions or examples for any other language, you will be given synonyms as hints instead. If you select Kanji as the clue, the solution language will be Japanese. Alternative clues may be viewed by clicking on the number of the corresponding clue in the list of clues. Ticking the 'Force?' checkbox means that there will be alternative clues for every item, but that may also narrow down the words that may possibly appear in the crossword.<br/><br/>

Using the custom word list above means that the crossword will not be generated from a random selection of words in the database. If you want a random puzzle, please replace all the text in the box above with a space and then click the save button.<br/><br/>

Example of how to format your custom word list (just start with the following and experiment, but make sure your solution language matches the words):<br/>
w dolphin<br/>
wc earth the planet on which we live<br/>
wc sun great ball of gas|in the sky during the day<br/>
s 03837422-n<br/>
sw 09270894-n earth<br/>
sw 09444100-n star<br/><br/>

Or you could copy-and-paste from these word lists:<br/>
<a href="static/lists/jlpt-n5.txt" target="_blank">JLPT N5</a><br/>
<a href="static/lists/jlpt-n4.txt" target="_blank">JLPT N4</a><br/>
<a href="static/lists/jlpt-n3.txt" target="_blank">JLPT N3</a><br/>
<a href="static/lists/jlpt-n2.txt" target="_blank">JLPT N2</a><br/>
<a href="static/lists/jlpt-n1.txt" target="_blank">JLPT N1</a><br/><br/>

<a href="https://github.com/zenador/multi-xword">Source code here</a>

</body>
</html>
